.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 46px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.subTitle {
  font-size: 16px;
  font-weight: 550;
  margin-top: -16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 20px;
}

.mainArticles {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
}

.seeAllContainer {
  align-self: end;
  text-decoration: none;
}

.seeAll {
  color: black;
  position: relative;
  font-size: 16px;
  font-weight: 550;
}

.seeAll:hover {
  cursor: pointer;
}

.seeAll:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.seeAll:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (min-width: 1000px) and (max-width: 1445px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 26px;
  }

  .subTitle {
    font-size: 14px;
    padding: 0 5px 0 5px;
  }
}
