.skeletonContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.skeletonTextsContainer {
  width: 100%;
}

.skeletonImgItem,
.skeletonTextItem,
.skeletonMiniTextItem,
.skeletonMiniTextItemSecond,
.skeletonTagsItem {
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.skeletonImgItem {
  display: flex;
  width: 100%;
  height: 200px;
}

.skeletonTextItem {
  display: flex;
  width: 90%;
  height: 30px;
  margin: 20px 0 0 0;
}

.skeletonMiniTextItem {
  display: flex;
  width: 80%;
  height: 15px;
  margin: 15px 0 0 0;
}

.skeletonTagsItem {
  display: flex;
  width: 15%;
  height: 22px;
  border-radius: 10px;
  margin: 30px 0 0 0;
}

@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
