.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  color: rgb(0, 0, 0);
  font-weight: 550;
  text-decoration: none;
}

.logo {
  display: flex;
  margin-left: -10px;
}
